#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ticket {
  padding: 2em;
}

.ticket-number {
  padding: 2em;
  position: relative;
  top: -160px;
  left: 186px;
  font-size: small;
  color: #ffda7b;
}

@media only screen and (max-width: 768px) {
  .ticket-number {
    top: -150px;
    left: 190px;
  }
}

.ticket-qr-code {
  padding: 2em;
  position: relative;
  top: -200px;
  right: 232px;
}

@media only screen and (max-width: 768px) {
  .ticket-qr-code {
    top: -190px;
    right: 40px;
    height: 150px;
    width: 140px;
  }
}

.qr-code {
  height: 54px;
  width: 54px;
}

@media only screen and (max-width: 768px) {
  .qr-code {
    height: 40px;
    width: 40px;
  }
}
